<style></style>
<div class="card-container">
  <form ngNativeValidate (ngSubmit)="submitNewsletter()">
    <h1>Newsletter Signup</h1>
    <p>No spam, unsubscribe at any time.</p>
    <div class="info">
      <div>
        <input
          class="info-input"
          type="email"
          name="email"
          [(ngModel)]="email"
          placeholder="Your Email"
          required
        />
        <div class="email-error" *ngIf="emailError">
          {{ emailError }}
        </div>
      </div>
      <div>
        <input class="info-button" type="submit" value="submit" />
      </div>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
